<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MYAPPSUITE" parallel="false">
	<test name="MYAPPTEST">
		<classes>
				<class	name="com.mycompany.app.AppTest" />
				<class	name="com.mycompany.app.TestFactorial" />
				<class	name="com.mycompany.app.TestPrimeNumbers" />
		</classes>
	</test>
</suite>

